<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Sample title</title>
    {% endif %}
</head>
<body>
    <h1>Github Search</h1>
    <form method="POST">
        {% if searchform %}
        {{ searchform.csrf_token }}
        <div>
            {{ searchform.login(placeholder="Enter GitHub login") }}
            <input type="submit" name='submit_button' value='Submit'>
        </div>
        {% endif %}
    </form>
    {% for message in get_flashed_messages() %}
        <a>{{ message }}</a>
    {% endfor %}
    {% if user_info %}
        <div>
            <a href="{{ user_info['userInfo']['htmlUrl'] }}">{{ user_info['userInfo']['name'] }}</a>
        </div>
        <div>
            <img src="{{ user_info['userInfo']['avatarUrl'] }}" width="169" height="169">
        </div>
        <div>
            {% for element in user_info['userRepos'] %}
                <div>
                    <a href="{{ element['repoHtmlUrl'] }}" class="repo-style">{{ element['repoName'] }}</a>
                </div>
            {% endfor %}
        </div>

    {% endif %}
</body>
</html>